
img{
    width: 100%;
    height: 300px;
    margin-top: 58px;
}
#homepage .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 31%;
    margin: 10px;
    float: left;
    background: #ebe5e5;
    margin-bottom: 30px;
}

@media screen and (max-width: 420px){
    #siteName{
        font-size: 1.5em
    }
#about{
    font-size: 1.0em
}
/* #homepage .card{
    width: 100%
}
footer #foot{
    text-align: center;
    font-size: 0.9em;
    padding: 10dp;
    margin-right: 100dp;
}

footer{
    margin: auto
} */

}