
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;

}

#siteName{
    margin: 30px 30px 0px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#siteName:hover{
    color:  rgb(26, 163, 226);
}

#about{
    width: 70%;
    font-family: cursive;
    text-align: center;
    margin: 0 auto 30px;
}

img{
    width: 100%;
    height: 300px;
    margin-top: -4px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: auto;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(26, 163, 226);
    color: black;
}

.topnav a.active {
    background-color: rgb(26, 163, 226);
    color: white;
}

#engage{
    background: #f2f2f2;
    margin-left: 10px;
}

#register, #services, #sends{
    width: 30%;
    float: left;
    border: #23282e solid 0px;
    margin-bottom: 30px;
    background: white;
    border-radius: 10px;
    margin: 5px 5px 40px;
    padding: 10px;
    background: rgb(224, 226, 218)
}

#register a, #sends a{
    text-decoration: none;
    color: black;
}

#register a:hover, #sends a:hover{
    color:  rgb(26, 163, 226);;
}

footer{
    clear: both;
    background: #d1e0f3;
    color: white;
    height: 50px;
  
}
 footer p{
    text-align: center;
    padding: 10px;
 }


#formBody{
    width: 70%;
    margin: 0 auto;
    background: #f2f2f2;
    position: relative;
    
}

#formSignIn, #formSignUp{
    margin: 0 auto;
    padding: 10px 10px 10px 200px;
    height: auto;
    width: 70%;    
}

label{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    padding: 15px;
    box-sizing: border-box;
    width: 50%;
    margin: 5px 0 22px 0;
    border-radius: 15px;
}

input:focus{
    background-color: #dddddd;
    outline: none;
}

button{
    padding: 20px;
    background-color: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px 0;
    padding: 5px 10px;
    width: 20%;
    box-sizing: border-box;
    opacity: 0.9;
    border-radius: 10px;
}

button:hover{
    opacity: 1;
}

form a{
    text-decoration: none;
    padding: 12px 12px;
    color: blueviolet;
}

form a:hover{
    color: #d30a0a;
}

#formSignUp{
    display: none;
}

#profile{
    width: 20%;
    float: left;
    background: #f2f2f2;
    padding:50px 10px;
    text-align: center;
    font-weight: bold;
}

#details{
    width: 70%;
    float: left;
    margin: 20px 20px; 
}

#profile img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: #d30a0a solid 2px;
}

.nextnav {
    background-color: #333;
    width: 50%;
    overflow-x: hidden;
    opacity: 0.7;
}

.nextnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 auto;
}

.nextnav a:hover {
    background-color: rgb(26, 163, 226);
    color: black;
}

.nextnav a.active {
    background-color: rgb(26, 163, 226);
    color: white;
}
#container{
    width: 60%;
    background: #f2f2f2;
    margin:50px 15px;
}

#createParcel, #changeDest, #detailOfParcel, #viewAllParcel{
    width: 90%;
    padding: 20px;
}

#changeDest, #detailOfParcel, #viewAllParcel{
    display: none;
}

#createParcel input, #createParcel label{
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}

#parcel, #parcel input{
    width: 30%; 
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

#parcelLog{
    margin: 10px;
    vertical-align: ce
}

#parcelLog input, #parcelLog button{
    width: 200px; 
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}

#des textarea{
    width: 300px;
    min-height: 50px;
    padding: 5PX;
    border-radius: 15px;
    border: #f2f2f2 solid 3px;
    margin: 10px 0;
}

#parcelLog button{
    width: fit-content;
    padding: 10px 20px;
    margin: 10px;
}
#parcelOne{
    display: block;
}

#des, #sta{
display: none;
}
#editDest, #editStat, #saveDest, #saveStat{
    text-decoration: none;
    border: #333 solid 1px;
    border-radius: 5px;
    padding: 0 3px;
    margin: 10px
}