*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.topnav {
    background-color: #333;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: auto;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(26, 163, 226);
    color: black;
}

.topnav a.active {
    background-color: rgb(26, 163, 226);
    color: white;
}

#engage{
    margin-left: 10px;
}

#register img{
    width: 15%;
    height: 15%;
}

#sends img{
    width: 15%;
    height: 15%;
}

#register, #sends{
    width: 60%;
    background: white;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

#register a, #sends a{
    text-decoration: none;
    color: black;
}

#register a:hover, #sends a:hover{
    color:  rgb(26, 163, 226);;
}

footer{
    clear: both;
    background: black;
    color: white;
    margin-top: 80px;
}

footer p{
    text-align: center;
    padding: 10px;
    line-height: 2px
}
#got{
    padding-top: 20px;
}


#parcelLog{
    margin: 10px;
}

#des textarea{
    width: 300px;
    min-height: 50px;
    padding: 5PX;
    border-radius: 15px;
    border: #21accf solid 1px;
    margin: 10px 0;
}

#parcelLog{
margin: 20px 50px;
}


#parcelLog button{
    width: fit-content;
    padding: 10px 20px;
    margin: 10px;
}
#idOfParcel{
    background-color: #776;
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}


#parcelOne{
    display: block;
    padding: 0 18px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}


#parcelOne button{
    font-size: 15px;
    padding: 10px;
}

#des, #sta{
display: none;
}

#editDest, #editStat, #saveDest, #saveStat{
    text-decoration: none;
    border: #333 solid 1px;
    border-radius: 5px;
    padding: 0 3px;
    margin: 10px;
    display: block-inline;
}
.signImage{
    height: 80px;
    width: 100px;
    text-align: center;
        display: block;
    margin: auto
}
.welcome{
    font-weight: bolder;
    font-size: 30px;
    display: block;
    margin: auto;
    text-align: center
}
p.first{
    margin-top: 30px;
}

#formBody {
    margin: auto;
    width: 500px;
    margin-top: 50px;
    background: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    font-size: 18px;
    }

    form {
        margin: 0 auto;
    }
    label {
        color: #555;
        display: inline-block;
        margin-left: 18px;
        padding-top: 10px;
        font-size: 18px;
    }
    
    input {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        outline: none;
    }
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=number],
    input[type=search] {
        padding-left: 10px;
        margin: 10px;
        margin-top: 5px;
        margin-left: 18px;
        width: 290px;
        height: 32px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        font-size: 18px
    }


    input[type=text]:focus,
    input[type=password]:focus,
    input[type=email]:focus,
    input[type=number]:focus,
    input[type=search]:focus {
        border-bottom: 1px solid #e40e0e;
    }
    input[type=text]:hover,
    input[type=password]:hover,
    input[type=email]:hover,
    input[type=number]:hover,
    input[type=search]:hover {
        border-bottom: 1px solid #6fc3d8;
    }

   
    form input[type=submit] {
    border: 0;
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #7eb0f1;
    cursor: pointer;
    text-align: center;
    margin: 20px auto 0;
    display: block;
    }
input[type=submit]:hover{
    opacity:0.7;
}


    #formSignUp{
        display: none;
    }

    form a{
        text-decoration: none;
        padding: 12px 12px;
        color: blueviolet;
    }
    
    form a:hover{
        color: #d30a0a;
    }


    
#containerCreate{
    width: 80%;
    margin: auto;
}
.firstColumn{
    float: left;
    width: 50%;
}
.secondColumn{
    float: right;
    width: 50%;
}
#parcel{
    margin-left: 10px;
    margin-bottom: 20px;
}
#deli{
    text-align: center
}
#containerCreate input[type=submit]{
    border: 0;
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #7eb0f1;
    cursor: pointer;
    text-align: center;
    margin: 30px 200px;
    width: 300px;
}

#viewAllParcel{
    width: 80%;
    margin: 20px auto;
}
#viewAllParcel input[type=submit]{
    border: 0;
    box-sizing: border-box;
    font-size: 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background: red;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-bottom: 20px;
     
}
#parcelCreate{
    border: #000000 solid 1px;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

  
  a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
  }
  
  
  #navbar {
    background: rgb(26, 6, 6);
    color: white;
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
  }
  
  .nav-wrapper {
    margin: auto;
    text-align: center;
    width: 90%;
  } @media(max-width: 768px) {
      .nav-wrapper {
        width: 90%;
      }
    } @media(max-width: 638px) {
        .nav-wrapper {
          width: 100%;
        }
      } 
  
  
  .logo {
    float: left;
    margin-left: 68px;
    font-size: 1.5em;
    height: 60px;
    letter-spacing: 1px;
  } @media(max-width: 768px) {
      .logo {
      }
    }
  
  #navbar ul {
    display: inline-block;
    float: right;
    list-style: none;
    margin-right: 14px;
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
  } @media(max-width: 640px) {
      #navbar ul {
        display: none;
      }
    } @media(orientation: landscape) {
        #navbar ul {
          display: inline-block;
        }
      }
  
  #navbar li {
    display: inline-block;
  }
  
  #navbar li a {
    color: whitesmoke;
    display: block;
    font-size: 0.8em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 15px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    font-weight: bold
  }
  
  #navbar li a:hover {
    color: rgb(28, 121, 184);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  #navbar li a:active {
    color: rgb(184, 28, 150);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  /* Animated Bottom Line */
  #navbar li a:before, #navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: whitesmoke;
  }
  
  #navbar li a:before {
    left: 0;
    transition: 0.5s;
  }
  
  #navbar li a:after {
    background: whitesmoke;
    right: 0;
  }
  
  #navbar li a:hover:before {
    background: rgb(167, 181, 194);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
  }
  
  #navbar li a:hover:after {
    background: transparent;
    width: 100%;
  }
  
  section{
      margin-top: 100px;
  }
  #sort{
      font-size: 15px;
      font-weight: 100;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    cursor: pointer;
}

.dropdown .dropbtn {
    font-size: 13px;    
    border: none;
    outline: none;
    color: white;
    padding: 5px 5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: right;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}
 .dropbtn:hover{
    color: white
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#foot{
    width: 100%;
    margin: auto;
}
#copy{     
    display: inline-block;     
    width:45%;  
    margin-left: 50px;   
} 
#socials{     
    display: inline-block;     
    width:45%; 
    text-align: right;
    margin-left: 25px;    
} 



 footer #correction{
    margin-bottom: -34px;
}